@media only screen and (min-width: 768px) {
    .container {
        width: 100%;
        margin: 10 auto;
    }

    .sec-title {
        padding: 50px 0;
        font-size: 20px !important;
    }

    .learn-more:hover {
        text-decoration: underline !important;
    }

    h2 {
        font-size: 3em;
    }

    main h2 {
        font-size: 45px !important;
        font-weight: bold;
    }

    .sec-title h2 {
        font-size: 3em;
    }

    #logo,
    #nav-icons,
    .swiper,
    #tour-top,
    #footer-accardion {
        display: none;
    }

    .phones,
    #navbar,
    .featured1,
    .featured2,
    #get-moree,
    .tv-rows,
    .fitness-rows,
    .desktop-footer,
    #footer-end-textss,
    .introduction-card {
        display: flex;
    }

    #navbar,
    .featured1,
    .featured2,
    #get-moree,
    .tv-rows,
    .fitness-rows,
    #new {
        justify-content: center;
    }

    #desktop-nav-list {
        display: initial;
    }

    #titanium-bottom,
    #featured1-bg,
    {
    min-height: 70vh;
}

#get-more .container {
    height: 50vh;
}

#phones,
#tour-bottom,
.an-iphone1 {
    position: relative;
}

#titanium {
    max-height: 100vh
}

#titanium-learn {
    padding: 20px 0;
}

#newphoria h6,
.an-iphone-text p,
.an-iphone-text a {
    font-size: 19px;
}

#newphoria-img {
    height: 55vh;
}

#introduction {
    height: 50vh;
}

#power-top,
#power-img {
    display: inline-block
}

#power-bottom,
#tour-bottom {
    min-height: 100vh;
}

#ios2-bottom,
#ios3-bottom {
    margin-top: 70px;
    max-height: 50vh;
}

.for-you-card {
    max-width: 20%;
}

.save-card a,
.featured-card p,
.fitness a {
    font-size: 19px;
}

#shop-iphone p,
#shop-iphone a,
#titanium p,
#newphoria p,
#power p {
    font-size: 20px;
}

.colors-img,
.for-you-img,
.save-card h5,
.save-card p,
.featured-card p {
    margin: auto;
}

#phones .container,
#ios-bottom,
#featured2-bg {
    height: 80vh;
}

.featured1,
.featured2 {
    align-items: center;
}

.featured-card p {
    max-width: 60%;
}

#featured1-bg,
#featured2-bg,
#introduction {
    min-width: 50%;
}

#power-top {
    margin: 30vh auto;
}

#save-phone .card,
#new {
    min-height: 70vh;
}

#tv-logo i {
    font-size: 45px !important;
}

.tv-body img {
    max-width: 120px;
    height: 100%;
}

#desktop-nav-list li {
    display: inline-block;
    margin-left: 2vw;
}

#desktop-nav-list li a {
    color: #000000cc;
    font-weight: 600;
}

#shop-iphone p {
    color: #1d1d1f;
    padding-top: 20px;
}

#titanium {
    padding-top: 30px !important;
}

#titanium span {
    padding-top: 30px !important;
    display: block;
}

#titanium-bottom {
    transform: rotate(-90deg);
    margin-top: -10%;
}

#tour-bottom {
    margin: 20px;
    border-radius: 30px;
}

#tour-texts {
    position: absolute;
    display: initial;
    top: 40%;
    left: 15%;
    text-align: start;
}

#tour-texts h3 {
    color: #fff !important;
}

#tour-texts a {
    padding: 10px;
}

.for-you-img {
    max-width: 180px;
    height: 250px;
}

.save-card h5 {
    font-weight: bold;
}

#phones-bg {
    background-position: 50% 200px;
    max-width: 100%;
    height: 100%;
}

#phones-text {
    max-width: 50%;
    position: absolute;
    inset: 0;
    z-index: 1;
    margin: auto;
}

#featured2-bg {
    background-size: cover;
    order: -1;
}

#featured3-bg {
    height: 60vh;
    background-position: center;
}

.an-iphone-text {
    position: absolute;
    left: 40%;
}

#get-moree,
#new {
    align-items: center;
}

#get-more-icons {
    order: -1;
    height: 60%;
    min-width: 60%;
    margin: 20vh auto;
}

#get-more-apple {
    max-height: 40%;
    max-width: 40%;
}

#gift-bg {
    min-width: 270px;
    min-height: 270px;
    margin: 0 auto;
    transform: translate(0, 5%);
}


.tv-rows,
.fitness-rows {
    gap: 30px;
    padding-bottom: 30px;
}

#introduction {
    background: url('../img/research_app.jpg') center/contain no-repeat;
}

.desktop-footer {
    padding: 20px 0;
}

#new {
    justify-content: space-around;
}

.desktop-footer ul li a {
    font-size: 11px;
    font-weight: 400;
    color: #000000b8;
    text-decoration: none;
}

.desktop-footer li a:hover {
    text-decoration: underline;
}

#hr {
    display: block;
}

#footer-end-textss,
.desktop-footer {
    justify-content: space-between;
}

footer .container {
    max-width: 60%;
}

.text-decoration-none learn-more rounded-pill text-center d-block pt a :hover {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    max-width: 100%;
    height: 3px;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
}

#accerssories h2 {
    font-size: 3em;
}

@media (max-width: 600px) {

    .header {
        height: 100%;
        overflow: auto;
        scrollbar-width: none;
    }
}

@media only screen and (min-width: 369px) {
    .phone-slide {
        overflow: auto;
        scrollbar-width: none;
    }

    #gift-bg {
        max-width: 60px;
        max-height: 70px;
        margin: 0 auto;
        transform: translate(0, 5%);
    }
}

@media only screen and (min-width: 290px) {
    .header {
        height: 100%;
        overflow: auto;
        scrollbar-width: none;
    }

    #gift-bg {
        max-width: 5px;
        max-height: 5px;
        margin: 0 auto;
        transform: translate(0, 5%);
    }
}

@media only screen and (max-width: 270px) {

    .phone-slide  {
        height: 100%;
        overflow: auto;
        scrollbar-width: none;
    }

    .container {
        width: 100%;
        margin: 5px auto;
        padding: 0;
    }
}

@media only screen and (max-width: 1140px) {

    .phone-slide {
        height: 100%;
        overflow: auto;
        scrollbar-width: none;
    }

    .container {
        width: 100%;
        margin: 5px auto;
        padding: 0;
    }
}